body {
	/*font-size: 10px;*/
	border: 20px solid #bdc3c7;
	font-family: 'Source Sans Pro';
	margin: 20px 100px;
}

h2	{
	color: #2c3e50;
	text-transform: capitalize;
	font-weight: bold;
}
div	{
	/*margin: auto;*/
	padding: 0px 20px 0px 20px;
	font-weight: 500;
}

.left_border {
	border-left: 4px solid #bdc3c7;
	padding-left: 3px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
}

hr	{
	/*margin: auto;*/
	margin: 0 20px;
	background: #F1F1F1;
	opacity: 0.2;

}