body{ background: gray;}

        .circle-menu {
        background: conic-gradient(
        #cf7fb7 0%, #cf7fb7 6.25%, 
        #a00071 6.25%, #a00071 12.5%, 
        #cf7fb7 12.5%, #cf7fb7 18.75%, 
        #a00071 18.75%, #a00071 25%,
        #cf7fb7 25%, #cf7fb7 31.25%,
        #a00071 31.25%, #a00071 37.5%, 
        #cf7fb7 37.5%, #cf7fb7 43.75%


        /* #a00071 43.75%, #a00071 50%   */
        /* #cf7fb7 50%, #cf7fb7 56.25%,
        /* #a00071 56.25%, #a00071 62.5%, 

        #cf7fb7 62.5%, #cf7fb7 68.75%,
        #a00071 68.75%, #a00071 75%, 
        #cf7fb7 75%, #cf7fb7 81.25%,
        #a00071 81.25%, #a00071 87.5%, 
        #cf7fb7 87.5%, #cf7fb7 93.75%,
        #a00071 93.75%, #a00071 100% */
            );

        /* 60% 60% / 100% 100%; */
        background-repeat: no-repeat;
        background-position: 60% 60%;
        width: auto;
        height: 80vh;
        border-radius: 50%;
}

         .circle-menu2 {
            background: conic-gradient(
                from 43.75deg at center, #a00071 0deg, orange 100deg);
                /* #a00071 43.75%, #a00071 50%
                #cf7fb7 50%, #cf7fb7 56.25%,
                #a00071 56.25%, #a00071 62.5%,
                #cf7fb7 62.5%, #cf7fb7 68.75%,
                #a00071 68.75%, #a00071 75%, 
                #cf7fb7 75%, #cf7fb7 81.25%  
            )  60% 60% / 100% 100% no-repeat; */
            background-repeat: no-repeat;
            background-position: 60% 60%;
            width: auto;
            height: 80vh;
            border-radius: 50%;
        } 

        .circle-menu3 {
            background: repeating-conic-gradient(
                #a00071 0deg 15deg,
                #cf7fb7 0deg 30deg)
                60% 60% / 100% 100% no-repeat;
            border-radius: 50%;
            width: 800px;
            height: 800px;
        }
        
        .circle-menu4 {
            background: conic-gradient(
                hsla(318, 45%, 65%, 1) 0 6.25%, 
                hsla(318, 100%, 31%,1) 16.25% 12.5%, 
                hsla(318, 45%, 65%, 1) 12.5% 18.75%, 
                hsla(318, 100%, 31%, 1) 18.75% 25%,
                hsla(318, 45%, 65%, 1) 25% 31.25%,
                hsla(318, 100%, 31%, 1) 31.25% 37.5%, 
                hsla(318, 45%, 65%, 1) 37.5% 43.75%,
                hsla(318, 100%, 31%, 1) 43.75% 50%,
                hsla(318, 45%, 65%, 1) 50% 56.25%,
                hsla(318, 100%, 31%, 1) 56.25% 62.5%,
                hsla(318, 45%, 65%, 1) 62.5% 68.75%,
                hsla(318, 100%, 31%, 1) 68.75% 75%, 
                hsla(318, 45%, 65%, 1) 75% 81.25% 
                ) 

                60% 60% / 100% 100% no-repeat;
            opacity: 1;
            border-radius: 50%;
            width: 800px;
            height: 800px;
        }

        .conic-gradient {
            /* Original example */
            background-image: conic-gradient(#fff, #000);

            /* Explicitly state the location center point */
            background: conic-gradient(at 50% 50%, #fff, #000);

            /* Explicitly state the angle of the start color */
            background: conic-gradient(from 0deg, #fff, #000);

            /* Explicitly state the angle of the start color and center point location */
            background: conic-gradient(from 0deg at center, #fff, #000);

            /* Explicitly state the angles of both colors as percentages instead of degrees */
            background: conic-gradient(#fff 0%, #000 100%);

            /* Explicitly state the angle of the starting color in degrees and the ending color by a full turn of the circle */
            background: conic-gradient(#fff 0deg, #000 1turn);
          }