h1 {
	text-align: center;
}

table {
	margin: auto;
}

td {
	/*border: 2px solid black;*/
/*	border-style: solid;
	border-color: black;*/
	width: 100px;
	height: 100px;
}

.top_down {
 border-top: 1px solid black;
 border-bottom: 1px solid black;
}

.left_right {
 border-left: 1px solid black;
 border-right: 1px solid black;
}