img	{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Raleway;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	/*to match the first picture margin*/
	margin-left: 1.66%;	
	border-bottom: 2px solid #F1F1F1;
	padding-bottom: 20px;
	/*line-height: 2;*/
	width: 30%;
}