  .clientimenu::-webkit-scrollbar {
    width: 8px;
    border-radius: 25px;
  }
  .clientimenu::-webkit-scrollbar-track {
    background: linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
  .clientimenu::-webkit-scrollbar-thumb {
    background: #4a71ff;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .clientimenu::-webkit-scrollbar-thumb:hover {
    background: #1447ff;
  }

  #content {
      width: 150px;
      height: 75px;
  }

  #testo1 {
    width: 150px;
    height: 75px;
    overflow: scroll;
  }